provisioning/inventory/hosts
provisioning/group_vars/all.yml
*.retry
.vault_pass
*.pem
*.key
*.crt
secrets/
.env

# Terraform
terraform/digitalocean/terraform.tfvars
terraform/digitalocean/.terraform/
terraform/digitalocean/.terraform.lock.hcl
terraform/digitalocean/terraform.tfstate
terraform/digitalocean/terraform.tfstate.backup
